.land{
    display: flex;
    justify-content:space-around ;
    width: 100%;
}

.desc{
    width: 40px;
}






.images {
width: 40%;
display: flex;
justify-content: space-between;
}



.pImages{
width: 30%;  
height: 631px;  
display: grid;
grid-template-columns: repeat(1,1);
padding-top: 111px;
}
.cImages{
    width: 30%;   
    height: 631px;   
    display: grid;
grid-template-columns: repeat(1,1);
}

.pImages>div{
    background: url("https://r2.starryai.com/results/1012247327/4646bec4-961c-4d55-b234-f2c384cb5e27.webp");
background-size: cover;
height: 177px;
width: 100%;
border-radius: 21px;

}

.cImages>div{
    background: url("https://r2.starryai.com/results/1012247327/4646bec4-961c-4d55-b234-f2c384cb5e27.webp");
background-size: cover;
height: 177px;
width: 100%;
border-radius: 21px;
}